<div class="row">
  <a href="/ideas"><button type="button" class="btn" name="button">See all the bright ideas</button></a>
  </div>

  <style>

  button {
    background-color: #73D7FE;
  }
    .heading {
      border: 1px solid;
      background-color: #37C3C5;
      padding: 3px;
    }
  </style>

  <table>
    <th>
      <tr>
        <td><h4>Name</h4></td>
        <td><h4>Alias</h4></td>
        <td><h4>Email</h4></td>
        <td><h4>Total No. of Posts</h4></td>
        <td><h4>Total No. of Likes</h4></td>
      </tr>
    </th>
    <tbody>
      <tr>
        <td><p class="heading"><%= @user.name %></p></td>
        <td><p class="heading"><%= @user.alias %></p></td>
        <td><p class="heading"><%= @user.email %></p></td>
        <td><p class="heading"><%= @user.ideas.count %></p></td>
        <td><p class="heading"><%= @user.likes.count %></p></td>
    </tbody>

    <body>
      <tr>
        <td></td>
    </body>


  </table>

